
@{
    ViewBag.Title = "余额管理";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section HeadSection{
    <script src="/Scripts/jquery-1.8.3.min.js?@ViewBag.StaticVersion"></script>
    <script src="/Scripts/Business/tradelist.js?@ViewBag.StaticVersion"></script>
    <script src="/Scripts/My97DatePicker/WdatePicker.js?@ViewBag.StaticVersion"></script>
}

<div class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form" id="form_seartch">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    商户号：
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="UserId" name="UserId" placeholder="请输入商户ID" />
                </div>
                <div class="layui-input-inline">
                    业务类型：
                </div>
                <div class="layui-input-inline" style="width:150px">
                    <select id="BillType" name="BillType" lay-verify="" lay-filter="BillType">
                        <option value="-1">请选择</option>
                        <option value="1">系统处理</option>
                        <option value="2">交易订单</option>
                        <option value="3">结算</option>
                        <option value="4">代付</option>
                        <option value="5">系统清算</option>
                        <option value="6">代理收益</option>
                        <option value="7">入金清算</option>
                    </select>
                </div>

                <div class="layui-input-inline">
                    时间：
                </div>
                <div class="layui-input-inline">
                    <input class="layui-input" onfocus="WdatePicker({ maxDate: $('#EndTime').val(),dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="@DateTime.Now.ToString("yyyy-MM-dd 00:00:00")" type="text" id="BeginTime" name="BeginTime" style="width:150px" />
                </div>
                <div class="layui-input-inline">
                    -
                </div>
                <div class="layui-input-inline">
                    <input class="layui-input" onfocus="WdatePicker({ minDate: $('#BeginTime').val(),dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="@DateTime.Now.ToString("yyyy-MM-dd 23:59:59")" type="text" id="EndTime" name="EndTime" style="width:150px" />
                </div>
                <a class="layui-btn search_btn" data-type="reload">搜索</a>
            </div>
        </form>
    </blockquote>
    <table id="balanceindexList" lay-filter="balanceindexList"></table>

</div>



