<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="connectionstring" value="User Source=.;Password=123456;Initial Catalog=test;Provider=SQLOLEDB.1;"/>
    <add key="port" value="8011"/>
    <add key="OnlineTime" value="08:00-22:00"/>
    <add key="ApiUrl" value="http://localhost:8085/"/>
    
    
    <!--银行密钥-->
    <add key="Bank_Appselect" value="HrEC5wF5kspTqnhvmnECW5f"/>
    <!--OEM代理商ID-->
    <add key="AgentsID" value="1"/>
    <!-- 中间件服务器 -->
    <add key="hostIPMiddleware" value="" />

    <add key="portMiddleware" value="2000"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!--间连接入项目微信支付成功回调URL（例如餐饮项目）-->
    <add key="PAB_WXNotifyUrl" value=""/>
    <!--间连接入项目微信公众号H5支付成功回调URL（收银台不存在公众号H5支付）-->
    <add key="PAB_WXH5NotifyUrl" value=""/>
    <!--间连接入项目支付宝支付成功回调URL（例如餐饮项目）-->
    <add key="PAB_AliNotifyUrl" value=""/>

    <!-- 日志记录级别0: Nothing不输出日志 1: Error 错误信息  2: Warning  警告信息（输出 警告信息，错误信息） 10: Info 调试信息与普通信息 -->
    <add key="LOG_LEVENL" value="10"/>

    <!-- 是否重新获取资源（重新设置AgentsID.Key之后重新获取图片和配置信息）0默认 1重新从服务器获取 -->
    <add key="IsReGetResource" value="0"/>
  </appSettings>
</configuration>
