

@{
    ViewBag.Title = "状态报告";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section HeadSection{
    <script src="/Scripts/jquery-1.8.3.min.js?@ViewBag.StaticVersion"></script>
    <script src="/scripts/Order/ordernotityindex.js?@ViewBag.StaticVersion"></script>
    <script src="/Scripts/My97DatePicker/WdatePicker.js?@ViewBag.StaticVersion"></script>
}

<div class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form" id="form_seartch">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    商户ID：
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="UserId" name="UserId" placeholder="请输入商户Id" />
                </div>

                <div class="layui-input-inline">
                    订单ID：
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="OrderId" name="OrderId" placeholder="请输入订单号" />
                </div>

                <div class="layui-input-inline">
                    通知状态：
                </div>
                <div class="layui-input-inline">
                    <select id="NotityState" name="NotityState" lay-verify="" lay-filter="NotityState">
                        <option value="-1">请选择</option>
                        <option value="0">处理中</option>
                        <option value="1">成功</option>
                        <option value="2">失败</option>
                    </select>
                </div>

                <div class="layui-input-inline">
                    时间：
                </div>

                <div class="layui-input-inline">
                    <input style="width:150px" class="layui-input" onfocus="WdatePicker({ maxDate: $('#EndTime').val(),dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="@DateTime.Now.ToString("yyyy-MM-dd 00:00:00")" type="text" id="BeginTime" name="BeginTime" />
                </div>
                <div class="layui-input-inline">
                    到
                </div>
                <div class="layui-input-inline">
                    <input style="width:150px" class="layui-input" onfocus="WdatePicker({ minDate: $('#BeginTime').val(),dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="@DateTime.Now.ToString("yyyy-MM-dd 23:59:59")" type="text" id="EndTime" name="EndTime" />
                </div>

                <a class="layui-btn search_btn" data-type="reload">搜索</a>
            </div>
        </form>
    </blockquote>
    <table id="ordernOtityIndexLis" lay-filter="ordernOtityIndexLis"></table>

    <!--操作-->
    <script type="text/html" id="ordernOtityIndexLisBar">
        <a class="layui-btn layui-btn-xs" lay-event="bufa">补发</a>
    </script>
</div>
