blockquote,body,button,caption,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,input,legend,li,menu,ol,p,pre,table,td,textarea,th,ul{margin:0;padding:0}
address,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
table{border-collapse:collapse;border-spacing:0}
caption,th{font-weight:400;text-align:left}
abbr,body,fieldset,html,iframe,img{border:0 none}
address,cite,dfn,em,i,var{font-style:normal}
[hidefocus],summary{outline:0 none}
li{list-style:outside none none}
h1,h2,h3,h4,h5,h6,small{font-size:100%}
sub,sup{font-size:83%}
code,kbd,pre,samp{font-family:inherit}
q::after,q::before{content:none}
textarea{overflow:auto;resize:none}
label,summary{cursor:default}
a,button{cursor:pointer}
b,em,h1,h2,h3,h4,h5,h6,strong{font-weight:700}
a,a:hover,del,ins,s,u{text-decoration:none}
body,button,input,keygen,legend,select,textarea{color:#333;font:12px/1.14 arial,宋体;outline:0 none}
button,input{vertical-align:middle}
a,a:hover{color:#333;outline:medium none}
body{background:#e0e2e4;min-width:950px;font:12px/1.5 'Microsoft YaHei',微软雅黑,宋体,tahoma,arial,\5b8b\4f53}
a:hover{color:#0be;text-decoration:underline}
input[type=text],select{border:1px solid #cacaca}
label.error{color:#c03036;padding-left:20px;margin-left:5px;background:url(../img/error.png) no-repeat 2px 2px;vertical-align:middle}
label.valid{color:#609039;padding-left:20px;margin-left:5px;background:url(../img/valid.png) no-repeat 3px 1px;width:14px;height:12px;vertical-align:middle;display:inline-block}
.g-ft-c,.g-hd-c,.g-main{width:950px;min-width:950px}
.g-head{width:100%;height:60px;background-color:#fff;border-bottom:1px solid #d7d8d8}
.g-hd-c{background:#fff;height:100%}
.g-body{width:100%}
.g-foot{width:100%}
.g-ft-c{height:50px}
.m-logo{height:40px;text-align:center;float:left;position:relative}
.m-logo s{position:absolute;top:10px;left:0;width:100%;height:100%}
.m-title{font:400 18px/26px 'Microsoft YaHei',微软雅黑,宋体;color:#a9a9a9;float:left;padding-left:12px;margin-left:12px;margin-top:17px}
.m-top-account{float:right;line-height:59px;margin-right:15px;font-weight:600}
.m-top-nav{float:right;line-height:59px;color:#606060}
.m-top-nav a{color:#606060}
.m-top-nav a:hover{color:#0be}
.m-top-nav s{margin:0 8px;color:#606060}
.m-order-info{padding:20px 40px;overflow:hidden;background-color:#fff;margin-top:15px;margin-bottom:4px;border-bottom:dashed 1px #9CA6AC}
.m-order-info ul{float:left}
.m-order-info li{line-height:22px;font-size:14px;color:#475055;letter-spacing:1px}
.m-order-info li:first-child{font-weight:700;font-size:16px;color:#00678a}
.m-order-info span{float:right;margin-top:15px}
.m-order-info span strong{font-size:22px}
.m-order-info .m-order-detail{width:100%;padding-top:0;overflow:hidden}
.m-order-info>.m-order-detail>button{float:right;background-color:#c3c6c9;border:0;line-height:24px;padding-left:10px;padding-right:10px;padding-top:1px;color:#fff}
.m-order-info>.m-order-detail>button:hover{background:#bbb}
.m-pay-way{background:#fff;padding:10px 15px 30px 15px;box-shadow:0 1px 1px #ddd}
.m-pay-wrap{border-top:1px solid #eee;padding:2px 3px 3px 3px}
.m-pay-wrap:hover{border:3px solid #d0d6eb;padding:0}
.m-pay-way .sel{border:3px solid #fff;border-top:1px solid #eee;padding:2px 0 0 0}
.m-pay-way .sel:first-child{border:3px solid #fff;padding:0}
.m-pay-wrap-fix{border-top:0;padding:3px}
.m-pay-t{height:54px;line-height:54px}
.m-pay-t input[type=radio]{vertical-align:middle;margin-bottom:4px;margin-left:20px;margin-right:10px}
.m-pay-name{font-size:14px;width:140px;display:inline-block}
.m-pay-info{color:#a9a9a9;display:inline-block}
.m-pay-info,.m-pay-name{cursor:default}
.m-pay-amt{float:right;margin-right:20px;display:none}
.m-pay-amt strong{font-size:16px}
.m-pay-mn{padding:5px 60px 20px 60px;display:none}
.m-pay-mn.wide{padding-left:45px;padding-right:0}
.m-bank-list{overflow:hidden}
.m-bank-list>ul>li{border:1px solid #E7E7E7;margin:5px 3px;position:relative;float:left;height:35px}
.m-bank-list>ul>li>input[type=radio]{display:none}
.m-bank-list>ul>li>label>img{cursor:pointer;width:150px;height:35px}
.m-bank-list>ul>li.bank-checked{border-color:#FF8208}
.m-bank-list>ul>li.bank-checked>i{width:100%;height:35px;position:absolute;left:0;top:0;background:url(../img/checked.png);cursor:pointer;background-size:cover}
.m-bank-list>p{line-height:50px;margin-left:3px;font-weight:700;color:#0be}
.m-pay-mn .m-box{overflow:hidden}
.m-pay-mn .m-box .m-bl{float:left;padding-right:30px}
.m-pay-mn .m-box .m-br{margin-top:23px;margin-left:30px;float:left}
.m-wechat-pay{margin-top:20px;margin-left:20px}
.m-wechat-pay-desc{background:url(../img/wechat-pay-desc.png);width:545px;height:215px}
.u-wechat-p{text-align:center;font-size:16px;margin-top:15px;color:#87c4a3}
.m-mbqrcode-pay-desc{background:url(../img/mbqrcode-pay-desc.png);width:545px;height:215px}
.m-pay-mn .field-list li{display:block;margin-bottom:8px}
.m-pay-mn .field-list li:last-child{margin-bottom:0}
.m-pay-mn .field-list li label{line-height:24px}
.m-pay-mn .field-list li label i{padding-left:10px;color:#bbb;font-style:italic}
.m-pay-mn .field-list li input[type=text]{width:300px;height:28px;vertical-align:middle;line-height:28px\9}
.m-pay-mn .field-list li input[type=text]:focus{border-color:#0be}
.m-pay-mn .field-list li input[type=text].narrow{width:120px;margin-right:6px}
.m-pay-mn .field-list li select{width:300px;height:28px}
.m-pay-mn .field-list li select:focus{border-color:#0be}
.m-pay-mn .m-tip-wrap{background:#eee;padding:6px 15px;width:273px;color:#666;margin-top:15px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.m-pay-mn .m-tip-wrap p{line-height:32px}
.m-pay-mn .m-tip-wrap p a{color:#0be;margin-left:8px}
.m-pay-mn .m-tip-wrap p a:hover{color:#FF8208;text-decoration:underline}
.m-pay-mn .m-tip-wrap .p1{border-bottom:1px solid #ccc}
.m-pay-mn .m-tip-wrap .p2{border-top:1px solid #f3f3f2}
.m-btn-box{overflow:hidden;padding-top:25px}
.m-btn-box.b1{padding-left:3px}
.m-tabs>.tab-nav{border-bottom:1px solid #E7E7E7}
.m-tabs>.tab-nav>li{display:inline-block;margin-bottom:-1px}
.m-tabs>.tab-nav>li.active{background:#fff;border:1px solid #ddd;border-bottom-color:transparent;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.m-tabs>.tab-nav>li>a{color:#333;padding:8px 25px;display:block;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;line-height:20px;font-weight:600}
.m-tabs>.tab-nav>li>a:hover{text-decoration:none;background:#0be;color:#fff}
.m-tabs>.tab-nav>li.active>a{color:#0be}
.m-tabs>.tab-nav>li.active>a:hover{color:#0be;background:#fff}
.m-tabs>.tab-content{margin-top:15px}
.m-tabs>.tab-content>.tab-panel{display:none}
.m-tabs>.tab-content>.tab-panel.active{display:block}
.m-alert-box{padding-top:50px}
.m-alert{padding:20px 30px;border:1px solid #E7E7E7;margin-top:10px}
.m-alert p{font-size:16px;line-height:30px;color:#000}
.m-alert p.reason{text-indent:40px;font-size:12px;color:#737373}
.m-alert p.reason a{text-decoration:underline}
.m-alert p.reason a:hover{color:#FF8208}
.m-alert p span{background-size:cover;width:30px;height:30px;display:block;float:left;margin-right:10px}
.m-alert.danger{background:#F1DCDC;border-color:#DCA7A7}
.m-alert.danger p{color:#A94442}
.m-alert.danger p span{background:url(../img/danger.png) no-repeat}
.m-alert.success{background:#DBEED3;border-color:#B2DBA1}
.m-alert.success p{color:#3C763D}
.m-alert.success p span{background:url(../img/success.png) no-repeat}
.m-alert.warning{background:#FAF4D5;border-color:#F5E79E}
.m-alert.warning p{color:#8A6D3B}
.m-alert.warning p span{background:url(../img/warning.png) no-repeat}
.m-alert.info{background:#D1E9F5;border-color:#9ACFEA}
.m-alert.info p{color:#31709B}
.m-alert.info p span{background:url(../img/info.png) no-repeat}
.m-help-box,.m-order-box,.m-qas{background:#eee;padding:15px 30px;margin-top:2px}
.m-help-box.top-fix{margin-top:1px;border-top:1px solid #fff}
.m-help-box p{line-height:28px;color:#797979}
.m-help-box p a{color:#0be;text-decoration:underline}
.m-help-box p a:hover{color:#FF8208}
.m-order-box>ul>li{line-height:25px}
.m-order-box>ul>li>label{margin-right:20px;font-weight:700}
.m-order-box>ul>li>strong{font-size:16px}
.m-qas{padding-bottom:20px}
.m-qas>.m-qa-item{margin-top:20px;padding:0 30px}
.m-qas>.m-qa-item>p{line-height:25px;color:#797979}
.m-qas>.m-qa-item>p.question{color:#FF8208}
.copyright{color:#a2a2a2}
.copyright p a{color:#a2a2a2}
.copyright p a:hover{color:#0be}
.copyright p{text-align:center;line-height:30px}
.m-org-box{width:180px;margin:15px auto}
.m-layer-box{border:5px solid #777;width:600px;position:fixed;top:27%;margin:0 auto;left:0;right:0;z-index:1002;overflow:auto;display:none}
.m-layer-box .content{background:#fff;padding:20px 25px}
.m-layer-box .content .title{font-size:16px;font-weight:700;border-bottom:1px solid #ccc;padding-bottom:16px}
.m-layer-box .content .explain{margin-top:5px}
.m-layer-box .content .explain.exp1{margin-top:13px}
.m-layer-box .content .btn-box{padding-top:40px;overflow:hidden}
.m-layer-box .content .btn-box span{float:right}
.m-layer-box .content .bottom-link{padding-top:25px}
.m-layer-box .content .bottom-link a{color:#0be;text-decoration:underline}
.m-layer-box .content .bottom-link a:hover{color:#FF8208}
.overlay{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;z-index:1001;-moz-opacity:.6;opacity:.6;filter:alpha(opacity=60)}
.u-btn{padding:11px 60px;border:0;font-size:14px;color:#fff;box-shadow:0 1px 1px #ddd}
.u-btn.radius{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.u-btn:hover{opacity:.8;cursor:pointer;-webkit-font-smoothing:subpixel-antialiased}
.u-btn:disabled{opacity:.4}
.u-btn.orange{background:orange}
.u-btn.blue{height:30px;width:174px;line-height:26px;background:#0be;padding:0;font-size:12px}
.u-btn.small{width:90px}
.u-btn.green{background:#96c34b}
.u-btn.grey{background:#c3c1c1}
.u-btn.grey.btn1{margin-left:10px}
.u-tip{border:1px solid #E7E7E7;padding:8px 20px}
.u-tip strong{font-size:16px}
.u-tip.surplus{margin-bottom:15px;background:#fffbe6}
.u-tip.err{border-color:#DCA7A7;margin-bottom:15px;background:#F1DCDC;color:#A94442}
.u-tip.err>span{background:url(../img/error.png) no-repeat 2px 1px;margin-right:10px;width:14px;height:12px;display:inline-block}
.u-tip.suc{border-color:#B2DBA1;margin-bottom:15px;background:#DBEED3;color:#3C763D}
.u-tip.suc>span{background:url(../img/valid.png) no-repeat 2px 1px;margin-right:10px;width:14px;height:12px;display:inline-block}
.u-org{margin-left:3px}
.u-org a{display:inline-block;background:url(../img/org-6.png) no-repeat 0 -32px;height:30px;width:60px;overflow:hidden}
.u-org a.ssl:hover{background-position:0 0}
.u-org a.baxx{width:30px;background-position:-70px -32px}
.u-org a.baxx:hover{background-position:-70px 0}
.u-org a.wsbj{width:30px;background-position:-110px -32px}
.u-org a.wsbj:hover{background-position:-110px 0}
.u-org a.zfxk{width:41px;background-position:-150px -32px}
.u-org a.zfxk:hover{background-position:-150px 0}
.f-hc{margin-left:auto;margin-right:auto}
.f-shadow{box-shadow:0 1px 1px #ddd}
.f-shadow-02{box-shadow:0 0 16px rgba(0,0,0,.3)}
.f-hidden{display:none}
.f-show{display:block}
.f-c-orange{color:#FF8208}
.f-c-dark-orange{color:#FF7108}
.f-clearfix:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden}
.f-clearfix{zoom:1}
[class*=" icon-"],[class^=icon-]{display:inline-block;width:14px;height:14px;margin-top:1px;line-height:14px;vertical-align:text-top;background-image:url(../img/glyphicons-halflings.png);background-position:14px 14px;background-repeat:no-repeat}
.icon-question-sign{background-position:-96px -96px}
.icon-circle-arrow-right{background-position:-240px -144px}
.icon-chevron-left{background-position:-432px -72px}
.icon-th-list{background-position:-264px 0}
.cvc2{width:355px;height:28px;border:1px solid #cacaca;position:relative}
.cvc2 span{display:block;position:absolute;left:0;top:0}
.borderstyle{border-bottom:1px solid #d9d9d9}
listinpt span{display:block;border:1px solid #E7E7E7;height:30px;margin-left:0}
.m-bank-list>ul>li{width:180px}
.m-bank-list ul li span{position:absolute;right:2px;top:8px}
